<footer>
    <div class="container-4">
        <ul>                
            <li><p class = "footer-btn">© 2023 by Abdullah Umair</p></li>
            <li><p class = "footer-btn">Email: abdullah.umair@ontariotechu.net</p></li>
            <li><a class = "footer-btn" href="https://ca.linkedin.com/in/abdullah-umair786"><i class="fa-brands fa-linkedin icon"></i></a></li>
            <li><a class = "footer-btn" href="https://github.com/Phoenix32l"><i class="fa-brands fa-github icon"></i></a></li>   
        </ul>
    </div>
</footer>