<header>
    <nav id = "home">
        <ul>
            <li><a class = "nav-btn" href="#home">Home </a></li>
            <li><a class = "nav-btn" href="#projects">Projects</a></li>
            <li><a class = "nav-btn" href="#about">About Me</a></li> 
            <li><a class = "nav-btn" href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>